# --
# Copyright (C) 2021-2022 Centuran Consulting, https://centuran.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

package Kernel::System::GenericAgent::ExecuteSystemCommand;

use strict;
use warnings;

our @ObjectDependencies = (
    # 'Kernel::System::Log',
    # ...
);

#
# This is an example module that shows how to execute system commands in generic
# agent jobs.
#

sub new {
    my ( $Type, %Param ) = @_;

    my $Self = {};
    bless( $Self, $Type );

    # 0=off; 1=on;
    $Self->{Debug} = $Param{Debug} || 0;

    return $Self;    
}

sub Run {
    my ( $Self, %Param ) = @_;

    # Execute system command and collect its output
    my $Output = `/path/script.sh`;

    # Execute system command with a parameter passed through generic agent job
    # configuration
    $Output = `/path/script.sh $Param{TicketID}`;

    return 1;
}

1;
