@import 'variables';
@import 'icons';

@mixin button {
  border-radius: 4px;
}

@mixin minor-button {
  float: left;
  font-size: smaller;
  height: auto;
  padding: 0;

  overflow: hidden;

  & > a,
  & > span.ClusterLink {
    //border-bottom: none;
    background: #f8f8f8;
    color: #444;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;

    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 10px #e4e4e4;
  }
  
  &:hover > a,
  &:hover > span.ClusterLink {
    background: $secondary-action-color;
    border: solid 1px lighten($secondary-action-color, 10%) !important;
    color: white;
    text-decoration: none;
  }
}

@mixin button-group($item: "li") {
  border-radius: 4px;
  box-shadow: 0px 1px 0px #c8c8c8, 0px 1px 10px #e8e8e8;
  box-shadow: 0px 1px 10px #e8e8e8;
  box-shadow: 0px 1px 10px #e4e4e4;
  font-size: initial;
  margin-bottom: 8px;
  padding-left: 0;

  & > #{$item} {
    @include minor-button();

    box-shadow: none;
    border-radius: 0;
    
    & > a,
    & > span.ClusterLink {
      border-radius: 0;
      box-shadow: none;
    }

    &:first-child > a,
    &:first-child > span.ClusterLink {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;

      padding-left: 10px;
    }

    &:not(:last-child) > a,
    &:not(:last-child) > span.ClusterLink {
      border-right: none;
    }

    &:not(:last-child):hover > a,
    &:not(:last-child):hover > span.ClusterLink {
      border-right: none !important;
    }

    &:last-child,
    &.cmt-item-action-link-last {
      & > a,
      & > span.ClusterLink {
        border-bottom-right-radius: 4px;
        border-right: solid 1px #ccc;
        border-top-right-radius: 4px;
      }

      &:hover > a,
      &:hover > span.ClusterLink {
        border-right: solid 1px lighten($secondary-action-color, 10%) !important;
      }
    }
  
    &.Selected a,
    a.Active {
      color: white;
      background-color: $secondary-action-color;
      border-color: lighten($secondary-action-color, 10%);
      border-right-color: lighten($secondary-action-color, 10%);
      font-weight: normal;
    }

    &::after {
      content: none;
    }
  }
}

input[type="text"] {
  border: solid 1px rgba(0,0,0,.38);
  border: solid 1px #d2d2d2;
  border-radius: 4px;
  box-shadow: none;
  color: rgba(0,0,0,.87);
  height: 32px;
  font-family: inherit;
  font-size: inherit;
  padding: $form-field-padding;
}

div.InputField_InputContainer {
  align-items: center;
  display: flex;
  height: 32px;

  .InputField_Search {
    position: relative;
  }

  .InputField_More {
    top: auto;
  }
}

div.InputField_Selection {
  align-items: center;
  background: #e0e0e0;
  border-radius: 50px;
  display: inline-block;
  height: auto;
  line-height: 20px;
  padding: 2px 8px;
  position: absolute;
  top: auto;
  vertical-align: middle;
  z-index: 1;

  div.Remove {
    background: none;
    font-family: "Material Design Icons";
    font-size: inherit;
    height: auto;
    line-height: inherit;
    overflow: hidden;
    padding-left: 0;
    //position: absolute;
    //right: -26px;
    vertical-align: middle;
    overflow: visible;
    
    a {
      position: relative;
      //width: 0;
      //color: #e0e0e0;
      padding: 0;
      line-height: inherit;
      font-size: 0;
      left: 4px;

      &::before {
        //background: #e0e0e0;
        //border-radius: 0 50px 50px 0;
        color: #888;
        content: "\0F1398"; // close-thick
        font-size: initial;
        height: 100%;
        left: 0;
        line-height: inherit;
        padding: 0;
        padding-right: 0;
        padding-left: 0;
        position: static;
        top: 0;
        vertical-align: middle;
        width: auto;
      }
    }
  }
}

div.InputField_Selection div.Text {
  background: #e0e0e0;
  border-radius: 50px;
  color: rgba(0,0,0,.87);
  font-size: inherit;
  height: 22px;
  line-height: 20px;

  height: auto;
  line-height: auto;

  padding: 0 !important;
  
  display: inline-block;
  vertical-align: middle;
  background: none;
  border-radius: 0;
  line-height: inherit;
  height: 100%;
}

/* Modernized select boxes */

.jstree-InputField {
  font-size: 85%;

  .jstree-wholerow-ul {
    .jstree-wholerow {
      height: auto;
      line-height: initial;

      &:hover,
      &.jstree-wholerow-hovered,
      &.jstree-wholerow-clicked:hover {
        background-color: #f15a22;
      }
    }
  
    .jstree-anchor {
      height: auto;
      line-height: initial;
    }

    .jstree-hovered {
      background-color: #f15a22;
    }
  }
}

.FieldExplanation,
.AsteriskExplanation {
  font-size: 87.5%;
}
