.v-application--wrap {
  .cmt-layout-wrapped,
  #Header.cmt-layout-wrapped {  
    margin: 0 auto;
    width: 100%;
  }

  .cmt-layout-wrapped #MainBox .Content {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}

@media (min-width: 960px) {
  .v-application--wrap {
    .cmt-layout-wrapped,
    #Header.cmt-layout-wrapped {
      padding-left: calc((100% - 900px) / 2);
      padding-right: calc((100% - 900px) / 2);
    }

    #MainBox {
      margin-left: calc((100% - 900px) / 2);
      margin-right: calc((100% - 900px) / 2);

      .Content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 1264px) {
  .v-application--wrap {
    .cmt-layout-wrapped,
    #Header.cmt-layout-wrapped {
      padding-left: calc((100% - 1185px) / 2);
      padding-right: calc((100% - 1185px) / 2);
    }

    #MainBox {
      margin-left: calc((100% - 1185px) / 2);
      margin-right: calc((100% - 1185px) / 2);
    }
  }
}

@media (min-width: 1904px) {
  .v-application--wrap {
    .cmt-layout-wrapped,
    #Header.cmt-layout-wrapped {
      padding-left: calc((100% - 1785px) / 2);
      padding-right: calc((100% - 1785px) / 2);
    }

    #MainBox {
      margin-left: calc((100% - 1785px) / 2);
      margin-right: calc((100% - 1785px) / 2);
    }
  }
}

#Navigation {
  height: auto;
  
  ul {
    padding-left: 0;

    // This pseudoelement fills the 2px gap between the contents
    // of the top-level item and the sub-level dropdown list (caused by a 2px
    // margin-top above the list), eliminating the problem that the list
    // disappeared when the pointer was placed inside the gap.
    // TODO: Copy-pasted from agent styles, could use some DRY
    li::after {
      content: "";
      float: none;
      background: transparent;
      height: 2px;
      margin: 0;
      position: absolute;
      width: 100%;
    }
  }

  li.Selected,
  li.Selected:hover {
    background: $primary-color;
  }

  & > ul {
    & > li {
      & > ul {
        top: initial;
      }

      & > a {
        font-size: initial;
      }
    }
  }

  ul > li > ul {
    background: #ededed;
    border-radius: 0 0 4px 4px;
    box-shadow: $elevated-2-box-shadow;
    font-size: 85%;
    left: 0;
    margin-top: 2px;
    overflow: hidden;
    top: 100%;
  
    & > li {
      border-bottom: solid 1px #ddd;
      line-height: initial;

      &:last-child {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
      }
  
      a {
        background-color: #ededed;
        border-top: none;
        font-size: inherit;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }  
  }

  ul.Individual {
    a[href$="Action=CustomerPreferences"] {
      &::before {
        color: #777;
        content: mdi("tune");
        font-family: "Material Design Icons";
        margin-right: 0.25em;
      }

      &:hover::before {
        color: #ddd;
      }
    }

    a[href$="Action=Logout"] {
      &::before {
        color: #777;
        content: mdi("power");
        font-family: "Material Design Icons";
        margin-right: 0.25em;
      }

      &:hover::before {
        color: #ddd;
      }
    }
  
    li.Selected a::before {
      color: #ddd;
    }
  }
}
