.Preferences {
  .Content {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    padding: 20px 0;
  }

  .Box {
    float: none;
    width: auto;

    form {
      padding: 0;
    }

    fieldset {
      background: #fff;
      border-radius: 4px;
      box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, .2),
        0 1px 1px 0 rgba(0, 0, 0, .14),
        0 1px 3px 0 rgba(0, 0, 0, .12);
      margin: 0;
      padding: 16px;

      h2 {
        // border-bottom: solid 1px #ddd;
        border-bottom: none;
        border-top: none;
        // box-shadow: 0px 1px 0px ghostwhite;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0;
      }

      p.Description {
        font-size: 87.5%;
        padding: 16px 0;
      }
    }

    fieldset > div {
      align-items: baseline;
      display: grid;
      grid-template-columns: 1fr 1fr 0;
      padding: 3px 8px 3px 0;

      label {
        color: rgba(0,0,0,0.6);
        padding-top: 8px;
        width: auto;
      }

      & > label + div {
        padding-top: 3px;
      }

      input {
        // margin-top: 8px;
        margin-top: 0;
      }

      input[type="password"] {
        font-size: initial;
        width: 75%;
      }

      &:not(:first-of-type) {
        .InputField_Container,
        input[type="password"] {
          margin-top: 16px;
        }
      }

      div.xClearLeft { // FIXME: Remove this?
        display: none;
      }

      & > div {
        padding: initial;
      }

      label, input[type="checkbox"] {
        & + .v-input--switch {
          margin-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;

          div {
            padding: 0;
          }
        }
      }
    }

    fieldset button[type="submit"] {
      margin: 24px auto 8px auto;
      text-align: center;
    }
  }
}