.Preferences {
  .Content {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    padding: 20px 0;
  }

  .Box {
    float: none;
    width: auto;

    form {
      padding: 0;
    }

    fieldset {
      background: $background-color;
      border-radius: 4px;
      box-shadow: 0px 1px 0px rgb(0 0 0 / 15%);
      margin: 0;

      h2 {
        border-bottom: solid 1px #ddd;
        border-top: none;
        box-shadow: 0px 1px 0px ghostwhite;
        font-size: inherit;
      }

      p.Description {
        font-size: 87.5%;
      }
    }

    fieldset > div {
      display: grid;
      grid-template-columns: 1fr 1fr 0;
      padding: 3px 8px 3px 0;

      label {
        width: auto;
      }

      & > label + div {
        padding-top: 3px;
      }

      input[type="password"] {
        width: 60%;
      }

      div.xClearLeft { // FIXME: Remove this?
        display: none;
      }

      & > div {
        padding: initial;
      }

      label, input[type="checkbox"] {
        & + .v-input--switch {
          margin-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;

          div {
            padding: 0;
          }
        }
      }
    }

    fieldset button[type="submit"] {
      margin: 0.5em auto;
      text-align: center;
    }
  }
}