.Search {
  fieldset {
    background: #fff;
    border-radius: 4px;
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .14),
      0 1px 3px 0 rgba(0, 0, 0, .12);
    padding: 16px;

    h2 {
      border-bottom: none;
      border-top: none;
      font-size: 1.25rem;
      font-weight: 500;
      padding: 0;
    }

    &.Columns h2 {
      border-bottom: none;
      box-shadow: none;
      font-weight: normal;
    
      label {
        font-size: initial;
      }

      & + div {
        padding-top: 0;

        .InputField_Container {
          min-width: 10em;
          width: 75%;

          input {
            flex: 1;
          }
        }
      }
    }

    .InputField_InputContainer {
      height: auto;

      .InputField_Search {
        min-width: 4em;
  
        &#Profile_Search {
          min-width: 10em;
        }
      }
    }

    & > div {
      align-items: baseline;
      display: flex;
      gap: 8px;
      justify-items: flex-start;

      label:not(:last-child)::after {
        content: ":";
      }
    }

    h2 + div {
      border-top: none;
    }

    p.Description {
      font-size: 87.5%;
    }

    label {
      line-height: 32px;
      margin-right: 0.5em;
      padding: 0;
      text-align: initial;
      width: auto;
    }

    input + p {
      font-size: 87.5%;
      margin-bottom: 0.1em;
      margin-left: calc(25% + 0.5em / 0.875);
      margin-top: 0.25em;
    }

    input[type="radio"] {
      margin-left: 1em;

      & + label {
        font-size: initial;
      }
    }

    .cmt-date-time-picker-container {
      display: inline-block;
      padding: 0;

      div:not([id]) {
        padding: 0;
      }
    }
  }

  #BottomActionRow {
    background-color: #fff;
    border-radius: 4px;
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .14),
      0 1px 3px 0 rgba(0, 0, 0, .12);
    font-size: initial;
    padding: 16px;

    #Submit {
      @include primary-button;
    }
  }
}

#MainBox.TicketView.SearchResults {
  ul.Tabs {
    box-shadow: none;
  }
}