@use 'sass:color';

$primary-color: #2196f3;
$secondary-color: #5cbbf6;
$table-row-hover-color: rgba(33, 150, 243, 0.15);
$table-cell-padding: 6px 10px;

$button-action-background-color: transparent;
$button-action-border-color: $primary-color;
$button-action-box-shadow: 0px 1px 0px #99a;
$button-action-text-color: $primary-color;

$button-primary-box-shadow: 0px 1px 0px #99a;
$button-primary-color: $primary-color;
$button-primary-text-color: #fff;

$secondary-action-color: $primary-color;

$navigation-background-color: white;
